.workspaces {
        padding: 2px 2px;
        margin: 10px 10px 10px 10px;
        background-color: red;

        .workspace {
            border-radius: 2px;
            background-color: green;
            margin-right: 1px;
            padding: 0px 0px 0px 0px;

            & .label {
                margin-left:3px;
            }

            &:hover {
                background-color: black;
            }

            &.active {
                background-color: pink;
            }

            &.urgent {
                background-color: red;
                border-color: red;
            }

            & .icon {
                margin: 0px 5px;
            }
        }
    }

    .window {
        margin: 0px 0px 0px 0px;
        padding: 0px 10px;
        border-radius: 3px;
        background-color: blue;

        &:hover {
            background-color: red;
        }

        .app-icon {
            margin-right: 5px;
        }

        .icon {
            margin-right: 5px;
        }
    }
